# ---------------------------------- Python ---------------------------------- #
__pycache__
*.pyc*
*.egg-info
.venv

# ---------------------------------- Tools ----------------------------------- #
pin-3.6
parsec-3.0

# ---------------------------------- C/C++ ----------------------------------- #
obj-intel64

# --------------------------------- Results ---------------------------------- #
results
